html, body {
  margin: 0;
  padding: 100px 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
  position: relative;
}

section {
  width: 100vw;
  height: 100vh;
  border: solid 5px orange
}

.wrapper {
  border: solid 1px grey;
  padding: 20px;
  max-width: 600px;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%)
}
p {
  max-width: 600px;
  margin: 20px auto
}

pre {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0, 0.4);
  color: lime;
  width: 300px;
  overflow: auto;
  margin: 0;
  padding: 10px
}
